.socials-layer {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .socials-layer a img {
    width: 30px;
    height: 30px;
  }
  
  .copyright {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  